{% extends 'base.html' %}

{% block title %}Criar Filho - PyMongo{% endblock %}

{% block header %}
    <h1><a href="{{ url_for('listar_filhos', pessoa_id=pessoa_id) }}">⬅️</a> Criar Novo Filho</h1>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('criar_filho', pessoa_id=pessoa_id) }}" class="mt-4">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
        </div>

        <div class="form-group">
            <label for="idade">Idade:</label>
            <input type="number" class="form-control" id="idade" name="idade" placeholder="Idade" required>
        </div>

        <button type="submit" class="btn btn-primary">Criar Filho</button>
        <a href="{{ url_for('listar_filhos', pessoa_id=pessoa_id) }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
